<div class="footer-basic">
  <footer class="footer">
    <div class="container row offset-1 col-10">
      <div class="col-12 p-0 footer-logo">
        <%= image_tag "footer-logo.png" %>
      </div>
      <div class="row col-12 mt-4">
        <div class="col-md-9 p-0">
          <ul class="row m-0">
            <li class="item footer-item"><%= link_to "運営会社", "#" %></li>
            <li class="item footer-item"><%= link_to "利用規約", "#" %></li>
            <li class="item footer-item"><%= link_to "プライバシーポリシー", "#" %></li>
            <li class="item footer-item"><%= link_to "ヘルプ", "#" %></li>
            <li class="item footer-item"><%= link_to "お問い合わせ", "#" %></li>
          </ul>
        </div>
        <div class="col-md-3 p-0 copyright m-0">
          <span>©2020 Relatedly</span>
        </div>
      </div>
    </div>
  </footer>
</div>
